/*Footer icon design*/
.footerIcon img{
	width: 25px;
	height: 25px;
}
.footerIcon{
	text-align: center;
	letter-spacing: 4px;
	position:static;
	font-family: "Josefin Sans";
}

.footerIcon a{
	border-radius: 8px;
	background-color: lightgrey;
	padding-left: 10px;
	text-decoration: none;
	color:white;
	margin-left:10px;
}

.footerIcon a:hover{
	background: skyblue;
	transition: 1.4s;
}