/*Footer icon design*/
.footerIcon img{
	width: 25px;
	height: 25px;
}
.footerIcon{
	text-align: center;
	letter-spacing: 15px;
	position:static;
}
/*
.footerIcon a:hover{
	background-color:powderblue;
	transition: 1.2s;
}
.footerIcon a{
	border-radius: 3px;
	background-color: azure;
}*/