
/*Content*/
.content{
	padding-bottom: 300px;
}

.blogTag a{
	text-decoration: none;
}

.blogTag{
	font-family: "Source Sans Pro";
	font-size: 18px;
	letter-spacing: 2px;
}

/*portfolio design*/
.personalTitle{
	width: 35%;
	font-size: 0.8em;
	line-height: 1.7;
	color: #888;
}

.portfolioTop{
	padding-top: 1.8em;
}

/*about design*/
.aboutTitle{
	font-family: serif;
	color: #4D4D4D;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.element{
	font-size: 4.75em;
	font-weight: 300;
	text-align: center;
	color: #fff;
}